@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.User;
}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Inicio</a></li>

            @if (user.Identity.IsAuthenticated)
            {
                if (user.IsInRole("Administrador"))
                {
                    <li><a href="/Administradores" class="nav-link px-2 link-dark">Panel Admin</a></li>
                }
                if (user.IsInRole("Odontologo"))
                {
                    <li><a href="/Turnos" class="nav-link px-2 link-dark">Mis Turnos</a></li>
                }
                if (user.IsInRole("Recepcionista"))
                {
                    <li><a href="/Pacientes" class="nav-link px-2 link-dark">Pacientes</a></li>
                }
                @if (User.IsInRole("Paciente"))
                {
                    <li><a asp-controller="Turnos" asp-action="Create" class="nav-link px-2 link-dark">Crear Turno</a></li>
                }

                
            }

        </ul>
        @if (user.Identity.IsAuthenticated)
        {
            <div class="col-md-3 text-end">
                <a href="/Auth/Logout" class="btn btn-danger">Cerrar sesión</a>
            </div>
        }
        else 
        {
        <div class="col-md-3 text-end">
            <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-outline-primary me-2">Iniciar seccion</a>
            <a asp-area="" asp-controller="Pacientes" asp-action="Create" class="btn btn-primary">Registrarse</a>
        </div>
        }
        
    </header>
</div>



