@model ClinicaDental.Models.Entities.Administrador

@{
    ViewData["Title"] = "Eliminar Administrador";
}

<link rel="stylesheet" href="~/css/DeleteAdministrador.css" />

<div class="delete-container">
    <h1 class="text-danger">Eliminar Administrador</h1>
    <p class="lead">¿Estás seguro de que deseas eliminar el siguiente administrador?</p>

    <div class="admin-details">
        <h4>Datos del Administrador</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger me-2">Eliminar</button>
        <a asp-action="Create" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
